*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FFFBDA;
}
/* BACK ARROW */

/* MAIN - SEC */
.main-sec{
    /* border: 1px solid red; */
    border-radius: 25px;

    margin-top: 2em;
    margin-bottom: 2em;
    
    width: 90%;
    height: auto;

    box-shadow: 2px 2px 24px #000;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.div-1 ul{
    /* border: 1px solid red; */
    border-radius: 25px 25px 0px 0px;   /* Container border radius */

    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 1em 1em;

    background-color: #FFEC9E;
}
.div-1 ul li{
    /* border: 1px solid red; */
    list-style-type: none;
}
.div-1 ul li a{
    /* border: 1px solid red; */
    text-decoration: none;
    color: #183153;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 0.5em 0.3em;
    margin: 0em 0.2em;
    
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div-1 ul li a:hover{
    color: #183153;
    border-radius: 10px;
    background-color: #FFFBDA;
    transition: .2s all;
}

/* LIST STYLES */
.div-1 .li-0 a{
    background-color: #FFEC9E;
    /* border: 1px solid red; */
    margin-left: 1em;
    padding: 0.5em 1em;
}
.div-1 #a1{
    background-color: #FFFBDA;
    border-radius: 10px;
}



/* DIV-2 */
.div-2{
    /* border: 1px solid red; */
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
}
.div-2 .div-2-ul-1{
    /* border: 1px solid red; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    margin: 1.5em 0em 0em 1em;

    gap: 1em;
}

/* TOGGLE BTN */
.toggleBtn{
    background:transparent;
    border: none;
}

/*      MOON  */
.div-2 .div-2-ul-2{
    /* border: 1px solid red; */

    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    margin: 1.5em 2em 0em 0em;

    gap: 1em;
}
.div-2 .div-2-ul-2 .fa-moon{
    background-color: #FFFBDA;
    padding: 0.5em 0.5em;
    border-radius: 50px;
    color: #183153;
}
.div-2 .div-2-ul-2 .fa-moon:hover{
    background-color: #FFEC9E;
    cursor: pointer;
}

/*      SUN  */
.div-2 .div-2-ul-2{         /* SUN CONTAINER */
    /* border: 1px solid red; */

    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    margin: 1.5em 2em 0em 0em;

    gap: 1em;
}
.div-2 .div-2-ul-2 .fa-sun{      /* SUN CURRENT STATE */
    background-color: #FFFBDA;
    padding: 0.5em 0.5em;
    border-radius: 50px;
    color: #183153;
    
   
}
.div-2 .div-2-ul-2 .fa-sun:hover{   /* SUN HOVER STATE */
    background-color: #FFEC9E;
    cursor: pointer;
}


.div-2 ul li{
    /* border: 1px solid red; */
    list-style-type: none;
}
.div-2 ul li a{
    text-decoration: none;

    padding: 0.5em 1em;

    color: #183153;
    background-color: #fff;

    border-radius: 50px;
    border: 2px solid #183153;

    transition: .2s all;
    
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div-2 ul li a:hover{
    background-color: #FFEC9E;
}

.div-2 .a-4{
    background-color: #FFEC9E;
}

/* DIV - CENTER */
.div-center{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    margin: 1em 0em;

    width: 100%;
    height: auto;

}
.div-center .ul-1, .ul-2 li{
    list-style-type: none;
}

.div-3{
    /* border: 1px solid red; */
    margin: 0.5em;
    width: 100%;
}
.div-3 li{
    /* border: 1px solid blue; */
    padding: 0.6em 1em;

    font-weight: 500;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fa-brands, .bi, .fa-diagram-project, .fa-gamepad, .fa-laptop-code, .fa-handshake-angle, .fa-code, .fa-toolbox, .fa-mobile-button, .fa-desktop, .fa-regular{
    /* border: 1px solid red; */
    margin: 0.5em 0.5em 0.5em 0em;
}


/*      METER BARS  */
.div-3 .ul-1 li .fa-meter{
    /* border: 1px solid red; */

    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;


}
.div-3 .ul-1 li .fa-meter meter{
    /* border: 1px solid red; */
    width: 100%;
}
.div-3 .ul-1 .fa-meter meter::-webkit-meter-optimum-value{
    background-color: dodgerblue;
}


