*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;

    background-color: #FFFBDA;
    
}
/* LOGO */
.logo{
    /* border: 1px solid red; */
    width: 44px;
    height: auto;

    border-radius: 25%;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0.2, 0.2);
}

/* NAV - BAR */
.nav-bar ul{
    /* border: 1px solid red; */
    border-radius: 10px;

    width: 100%;
    height: 120vh;

    padding: 1em;
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #FFEC9E;

}
.nav-bar ul li{
    list-style-type: none;
}
.nav-bar ul li a{
    /* border: 1px solid red; */
    padding: 0.5em 2em;
    border-radius: 5px;

    width: 100%;
    height: auto;

    text-decoration: none;
    color: #183153;
    
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5em;
}
.nav-bar ul li a:hover{
    color: #183153;
    border-radius: 50px;
    background-color: #FFFBDA;
    transition: .2s all;
}


/* MAIN */
main{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* HAND SHAKE */
.animate__animated.animate__shakeX:active {
    cursor: pointer;
    animation-iteration-count: infinite;
  }
.word-container {
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden; /* Ensures the moving text is clipped */
    height: 3rem; /* Adjust height as needed */
    width: 300px; /* Adjust width as needed */

    font-size: 32px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #333;
    padding: 0.5em;

    display: flex;
    justify-content: start;
    align-items: center;
}

#wordDisplay {
    margin-top: 0.1em;
    position: absolute;
    top: 100%;
    transition: top 1s ease-out; /* Smooth transition for the animation */
}

/* DIV - 1 */
#div-1{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 2em 4em;

    width: 80%;
}

.hr-1{
    /* border: 1px solid red; */
    height: auto;
    width: 80%;
    color: #333;
}

/* DIV-2 */
#div-2{
    border: 1px solid red;
    width: 80%;
    height: auto;

    line-height: 24px;
    letter-spacing: 0.5px;

    padding: 1em;

    font-size: 16px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* END LINE */
#end-ln{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* LIKES COUNTER */
.like-container{
    /* border: 1px solid red; */

    color: #183153;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#likeButton{
 cursor: pointer;
 padding: 0.2rem;
}

